name: "Lint PRs"

on:
  pull_request:
    types:
      - edited
      - opened
      - reopened
      - synchronized


jobs:
  # This job checks the PR title using
  # https://github.com/conventional-changelog/commitlint
  # for the conventional commit format at
  # https://www.conventionalcommits.org/en/v1.0.0/
  # See also /.github/commitlint.config.js for more details
  # We only need to check the PR title because it will end up being the
  # (default) commit title when doing squash merges with Github.
  # See
  # https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/about-pull-request-merges#merge-message-for-a-squash-merge
  # for more info. We have "Default to PR title for squash merge commits" enabled.
  commit-lint:
    name: "Check PR title"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      - run: npm install -g @commitlint/cli @commitlint/config-conventional
      - name: "Check PR title"
        # Inject as env variable to escape properly
        env:
          TITLE: ${{ github.event.pull_request.title }}
        run: |
          commitlint --config .github/commitlint.config.js --edit=<(echo "${TITLE}")
  check:
    name: "check"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
      - run: make check
      - uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          args: --verbose
          verify: false # workaround https://github.com/golangci/golangci-lint-action/issues/1179
      - run: make test
      - run: make build
